[Desktop Entry]
Type=Application
Name=paint.c
GenericName=Image Editor
Comment=Edit images with layers, effects and adjustments
Exec=paintc %F
Icon=org.paintc.paintc
Terminal=false
StartupNotify=true
StartupWMClass=org.paintc.paintc
SingleMainWindow=true
Categories=Graphics;2DGraphics;RasterGraphics;
Keywords=image;photo;picture;paint;draw;layers;editor;pdn;
MimeType=image/x-paintnet;image/png;image/jpeg;image/bmp;image/gif;image/tiff;image/webp;image/avif;image/jxl;image/x-tga;image/x-dds;image/openraster;
